%h1 Analytics

%h3 User Signup
= column_chart @signups_by_day, library: { backgroundColor: "#eee" }

%h3 Project Creation
= column_chart @projects_by_day, library: { backgroundColor: "#eee" }

%h3 Category Distribution
= pie_chart @category_distribution, library: { backgroundColor: "#eee" }

%h3 Visitor Origin
= geo_chart @geo_data, height: '500px', library: { backgroundColor: "#eee" }
