- event.each do |e|
  .panel.panel-default
    .panel-heading
      .panel-title
        %h3{class: "panel-title"} 
          //= e
          = link_to(e[:name] + " update!", project_path(e[:type_id]))
    .panel-body
      %h4
        = e[:description]
      %p
        //link to user public profile page
        - if @user
          = @user.username + " made the donation at " + e[:time].to_s
        - else
          = e[:time].strftime("%B %d, %Y")