.jumbotron
  .container
    %h1 Dashboard
    %p 
      Hey, you haven't joined any communities yet!
      %br
      = link_to "Wanna?", dashboard_collect_information_path, class: 'btn btn-lg btn-primary'