// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-margin-20{
  margin-top: 20px;
}

.top-margin-4{
  margin-top: 4px;
}

.tab-content{
  padding-top: 15px;
}