// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-margin{
  margin-top: 4px;
}

.tab-content{
  padding-top: 15px;
}