// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-fixed-200 {
  width: 200px;
  height: 100%;
  position: fixed;
}

.col-offset-200 {
  padding-left: 200px;
}

.col-height-200 {
  height: 200px;
}