- if user_signed_in? and not current_user.has_reported?('project', @project.id)
	.btn.btn-danger.report-btn{ data: { 'project-id': @project.id, toggle: 'modal', target: '#report-modal' } }
		Report Project

	#report-modal.modal.fade
		.modal-dialog
			.modal-content
				.modal-header
					%button{ class: 'close', data: { dismiss: 'modal' } }
						&times;
					%h4
						Report project

				.modal-body
					%p
						Are you sure you wish to report this content as offensive or inappropriate?
					%p
						Upon submission the CommunityFund administrators will be notified and will conduct a review of this project.

				.modal-footer
					%button{ class: 'btn btn-default', data: { dismiss: 'modal' } }
						Cancel
					%button{ class: 'btn btn-danger report-confirm-btn', data: { dismiss: 'modal' } }
						Report
