%h2
  @project.title
%br
%div.media-header
  /display video/images pertaining to project
%div.status
  /display status bar here, overall completion stuff
%div.tabs
  /description or discussions
%div.goals
