- if user_signed_in?
	- if current_user.admin?
		= link_to "Edit as Administrator", edit_community_path(id: @community.id), id: "edit_button", class: "btn btn-danger edit-btn"

	- elsif not current_user.has_reported?('community', @community.id)
		.btn.btn-danger.report-btn{ data: { 'community-id'=> @community.id, toggle: 'modal', target: '#report-modal' } }
			Report Community

		#report-modal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						%button{ class: 'close', data: { dismiss: 'modal' } }
							&times;
						%h4
							Report Community

					.modal-body
						%p
							Are you sure you wish to report this content as offensive or inappropriate?
						%p
							Upon submission the CommunityFund administrators will be notified and will conduct a review of this project.

					.modal-footer
						%button{ class: 'btn btn-default', data: { dismiss: 'modal' } }
							Cancel
						%button{ class: 'btn btn-danger report-confirm-btn', data: { dismiss: 'modal' } }
							Report
