- if user_signed_in?
	- if current_user.admin?
		= link_to "Edit as Administrator", edit_community_path(id: @community.id), id: "edit_button", class: "btn btn-danger edit-btn"

	- elsif not current_user.has_reported?('community', @community.id)
		- unless current_user.communities.include?(@community)
			.btn.btn-success.join-btn{ data: { :'community-id'=> @community.id, toggle: 'modal', target: '#join-modal' } }
				Join Community

		#join-modal.modal.fade
			.modal-dialog
				.modal-content
					.modal-header
						%button{ class: 'close', data: { dismiss: 'modal' } }
							&times;
						%h4
							Join Community

					.modal-body
						%p
							= "Are you sure you want to join the #{@community.name} community?"

					.modal-footer
						%button{ class: 'btn btn-default', data: { dismiss: 'modal' } }
							Cancel
						%button{ class: 'btn btn-success join-confirm-btn', data: { dismiss: 'modal' } }
							Yes
