-# TODO this page shouldn't be shown when user is logged in
.jumbotron 
  %h1 CommunityFund
  %p Welcome to CommunityFund, a community-based crowd funding solution
  %span
    = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-lg'
    = link_to "Login", new_user_session_path, class: 'btn btn-lg'



TODO - any other enticing content to put on this page?